body {
  --cyan: #3f989a;
  --light-cyan: #8cc1c2;
  --lighter-cyan: #d9eaeb;
  --green: #4c9455;
  --purple: #644380;
  --dark-grey: #1d1d1d;
  --grey: #eeeeee;
  --white: #ffffff;

  --animation-speed: 0.2s;
}

.page-icon {
  height: 200px;
}

.single-page .title {
  margin-top: 50px;
}

.single-page .content-container {
  padding-bottom: 200px;
}

.single-page .content-container > p {
  --content-padding: clamp(20px, 7vw, 50px);
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
  width: 100%;
}

.help-wrapper {
  margin-top: 50px;
}

.help-button {
  color: var(--cyan);
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-decoration: underline;
  padding-left: 0;
}

.help-button img {
  width: 25px;
  margin-right: 6px;
}

.help-box {
  display: none;
  text-align: center;
}

.show {
  display: block;
}

.help-box .help-box-content {
  border: 2px solid var(--cyan);
  box-sizing: border-box;
  border-radius: 30px;
  padding: 30px var(--content-padding) 40px var(--content-padding);
  margin-bottom: 40px;
}

.help-box h3 {
  font-weight: bold;
  margin-bottom: 40px;
}

.help-box-content > p {
  margin-bottom: 40px;
}

.help-box-content p.primary-tip a {
  font-weight: bold;
}

.help-items {
  display: grid;
  justify-items: center;
  justify-content: stretch;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));

  padding-left: 0;
}

.help-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px 15px;
}

.help-item img {
  height: 50px;
  margin-bottom: 20px;
}

.help-item b {
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--dark-grey);
}

.help-box .secondary-tip {
  padding: 15px;
  border: 2px solid var(--cyan);
  box-sizing: border-box;
  border-radius: 20px;
}

.filters-cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.filters-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: stretch;
  justify-content: stretch;
  column-gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-checkboxes {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  justify-content: center;
  justify-items: start;
  column-gap: 10px;
}

.filter-checkbox {
  width: 130px;
}

.filter-checkbox input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
}

.filter-checkbox label {
  text-align: center;
  display: block;
}

.filter-checkbox label:hover {
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"]:checked + label {
  background-color: var(--cyan);
}

.filter-checkbox input[type="checkbox"]:checked + label:hover {
  color: white;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  column-gap: 70px;
  row-gap: 50px;
  justify-content: center;
  margin-top: 70px;
}

.item-card {
  display: none;
}

.item-card img {
  width: max-content;
  aspect-ratio: 1/1;
  object-fit: contain;
  background-color: var(--grey);
}

.item-card h3 {
  font-weight: 300;
}

.show {
  display: flex;
  flex-direction: column;
}
